{% extends "base2.html"%}
{% block content %}
<div>
  {%- for category, message in get_flashed_messages(with_categories = true) %}
  <div class = "alert alert-danger">
    {{ message }}
  </div>
  {%- endfor %}
</div>

<div class="jumbotron">
<h3>Sorry, we couldn't find the page you were looking for.</h3>
</div>
{% endblock %}
