<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>HSK</title>
</head>
<body>
</body>
</html>
<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <base href="/">
    <title>HSK Car Rentals</title>
    <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/css/plugins/animate.css" rel="stylesheet">
    <link href="../static/assets/css/plugins/vegas.min.css" rel="stylesheet">
    <link href="../static/assets/css/plugins/slicknav.min.css" rel="stylesheet">
    <link href="../static/assets/css/plugins/magnific-popup.css" rel="stylesheet">
    <link href="../static/assets/css/plugins/owl.carousel.min.css" rel="stylesheet">
    <link href="../static/assets/css/plugins/gijgo.css" rel="stylesheet">
    <link href="../static/assets/css/font-awesome.css" rel="stylesheet">
    <link href="../static/assets/css/reset.css" rel="stylesheet">
    <link href="../static/assets/style.css" rel="stylesheet">
    <link href="../static/assets/css/responsive.css" rel="stylesheet">
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="../static/assets/js/jquery-3.2.1.min.js"></script>
    <script src="../static/assets/js/jquery-migrate.min.js"></script>
    <script src="../static/assets/js/popper.min.js"></script>
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/plugins/gijgo.js"></script>
    <script src="../static/assets/js/plugins/vegas.min.js"></script>
    <script src="../static/assets/js/plugins/isotope.min.js"></script>
    <script src="../static/assets/js/plugins/owl.carousel.min.js"></script>
    <script src="../static/assets/js/plugins/waypoints.min.js"></script>
    <script src="../static/assets/js/plugins/counterup.min.js"></script>
    <script src="../static/assets/js/plugins/mb.YTPlayer.js"></script>
    <script src="../static/assets/js/plugins/magnific-popup.min.js"></script>
    <script src="../static/assets/js/plugins/slicknav.min.js"></script>
    <script src="../static/assets/js/main.js"></script>
</head>
<header id="header-area">
    <div id="header-top" class="d-none d-xl-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 text-left">
                    <i class="fa fa-map-marker"></i> Birmingham, Alabama
                </div>

                <div class="col-lg-3 text-center">
                    <i class="fa fa-mobile"></i> +1 987 654 3210
                </div>

                <div class="col-lg-3 text-center">
                    <i class="fa fa-clock-o"></i> Mon-Sun 09.00AM - 6.00PM
                </div>

                <div class="col-lg-3 text-right">
                    <div class="header-social-icons">
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <a href="/book_car" class="logo">
                        <img src="../static/assets/img/logo.png" style="height: 60px;width: 60px" alt="HSK">
                    </a>
                </div>

                <div class="col-lg-8 d-none d-xl-block">
                    <nav class="mainmenu alignright">
                        <ul>
                            <li class="active"><a href="{{url_for('book_car')}}">Home</a></li>
                            <li><a href="{{url_for('findreservation')}}">Manage Bookings</a></li>
                            <li><a href="{{url_for('contact')}}">Contact Us</a></li>
                            <li><a href="{{url_for('home')}}">Log Out</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
{% block content %}
{% endblock content %}
</body>
    <section id="funfact-area" class="overlay section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-11 col-md-12 m-auto">
                    <div class="funfact-content-wrap">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="single-funfact">
                                    <div class="funfact-icon">
                                        <i class="fa fa-smile-o"></i>
                                    </div>
                                    <div class="funfact-content">
                                        <p><span class="counter">100</span>+</p>
                                        <h4>HAPPY CLIENTS</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single-funfact">
                                    <div class="funfact-icon">
                                        <i class="fa fa-car"></i>
                                    </div>
                                    <div class="funfact-content">
                                        <p><span class="counter">20</span>+</p>
                                        <h4>CARS IN STOCK</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single-funfact">
                                    <div class="funfact-icon">
                                        <i class="fa fa-bank"></i>
                                    </div>
                                    <div class="funfact-content">
                                        <p><span class="counter">5</span>+</p>
                                        <h4>BRANCHES IN AMERICA</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<footer>
    <section id="footer-area">
        <div class="footer-widget-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            
                            <div class="widget-body">
                                <img src="../static/assets/img/logo.png" style="height: 150px;width: 350px" alt="HSK">
                                <p>No better place to find a car, If you need a car, It has to be HSK</p>
                                

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>HSK Core Team</h2>
                            <div class="widget-body">
                                <ul class="recent-post">
                                    <li>
                                        <a href="#">
                                            Harish
                                            <i class="fa fa-long-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Sandeep
                                            <i class="fa fa-long-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Sai Kireeti
                                            <i class="fa fa-long-arrow-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>get touch</h2>
                            <div class="widget-body">
                                <p>Email or Call us to get in touch</p>
                                <ul class="get-touch">
                                    <li><i class="fa fa-map-marker"></i> UAB, Birmingham, AL</li>
                                    <li><i class="fa fa-mobile"></i> +1  987 654 3210</li>
                                    <li><i class="fa fa-envelope"></i> hsk9@gmail.com</li>
                                </ul>
                                <a href="https://g.page/exploreuab?share" class="map-show" target="_blank">Show Location</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
</html>
