{% extends "base2.html" %}
{% block content %}
<body>

<div class="container">
  {%- for category, message in get_flashed_messages(with_categories = true) %}
  <div class = "alert alert-danger">
    {{ message }}
  </div>
  {%- endfor %}
</div>

<form action = "{{ url_for('resetpwd') }}" method = "POST">
 <label for="pwd">Enter the New Password</label>
    <input type="text" name="pwd" id="pwd" /><br><br>
<label for="id">Enter the id</label>
    <input type="text" name="id" id="id" />
<p>
    <input type="submit" name="submit" value="Delete"/>
</p>
</form>
</body>
{% endblock %}
